<hr>

<div class="pull-left"><a  href="#/upload" class="btn btn-success">+ Upload Document</a></div>
<div class="pull-right"><button type="button" class="btn btn-info" ng-click="logout()">Logout!</button></div>
<div class="clearfix"></div>

<hr>

<div class="row">
	<div class="col-md-12">
        <p>You currently have <b>{{ documents }}</b> documents in your wishlist.</p>
        <div class="alert alert-{{notification.type}}" style="display: none;" role="alert" data-notification="{{notification.status}}">{{notification.message}}</div>
        <div ng-show="displayed.length">
        <table class="table" st-pipe="callServer" st-table="displayed" st-safe-src="rowCollection">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Filename</th>
                <th class="hidden-sm hidden-xs">Created Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody ng-show="!isLoading">
            <tr ng-repeat="row in displayed">
                <td>{{row.id}}</td>
                <td>{{row.name}}</td>
                <td>{{row.filename}}</td>
                <td class ="hidden-sm hidden-xs">{{row.created_at}}</td>
                <td>
                    <a href="/api/documents/{{row.legacy_document_id}}?token={{token}}" class="btn btn-info btn-xs">Download</a>
                    <button ng-click="remove(row.id)" class="btn btn-danger btn-xs">Remove</button>
                </td>
            </tr>
            </tbody>
            <tbody ng-show="isLoading">
            <tr>
                <td colspan="5" class="text-center">Loading ... </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="5" colspan="5">
                </td>
            </tr>
            </tfoot>
        </table>
        </div>
	</div>
</div>
