<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>Login</h2>
		<p>Welcome! Use this form to login into your application.</p>
		
		<hr>
        <form name="userForm">
            <div class="alert alert-{{notification.type}}" style="display: none;" role="alert" data-notification="{{notification.status}}">{{notification.message}}</div>
            <p  ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
			<input type="email" name="email" class="form-control" placeholder="Email Address..." ng-model="email" required ng-keyup="$event.keyCode == 13 ? login() : null" />
			<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="text-danger">Enter a valid email.</p>
		</p>
		<p  ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <input type="password" name="password" class="form-control" placeholder="Password..." ng-model="password" required ng-keyup="$event.keyCode == 13 ? login() : null" />
            <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="text-danger">You name is required.</p>
            </p>

		<hr>
        </form>
		<p><button type="button" class="btn btn-success form-control" ng-click="login()">Login</button></p>

		<hr>

		<p><a href="#signup">First time here? <b>Sign up!</b></a></p>
	</div>
</div>