<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>Signup</h2>
		<p>Welcome! If you want to sign up to our awesome service, fill this form and press on "Signup"!</p>
		
		<hr>
		<div class="alert alert-{{notification.type}}" style="display: none;" role="alert" data-notification="{{notification.status}}">{{notification.message}}</div>
		<form name="userForm" novalidate>

		<p ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
			<input type="text" class="form-control" name="name" placeholder="Name..." ng-model="name" required />
			<p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="text-danger">You name is required.</p>
		</p>
		<p ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }" >
            <input type="email" name="email" class="form-control" placeholder="Email Address..." ng-model="email" required />
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="text-danger">Enter a valid email.</p>
        </p>
		<p ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <input type="password" name="password" class="form-control" placeholder="Password..." ng-model="password" required />
            <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="text-danger">You name is required.</p>
        </p>
        <p ng-class="{ 'has-error' : userForm.repassword.$invalid && !userForm.repassword.$pristine }">
            <input type="password" name="repassword" class="form-control" placeholder="Retype Password..." ng-model="repassword" required />
            <p ng-show="userForm.repassword.$invalid && !userForm.repassword.$pristine" class="text-danger">You name is required.</p>
            <p ng-show="repassword != password && !userForm.repassword.$pristine" class="text-danger">Password is not the same</p>
        </p>
		<hr>

		<p><button type="button" class="btn btn-success form-control" ng-click="signup()">Signup</button></p>
        </form>
		<hr>

		<p><a href="#login">Already signed up? <b>Log in!</b></a></p>
	</div>
</div>