<hr>

<div class="alert alert-{{notification.type}}" style="display: none;" role="alert" data-notification="{{notification.status}}">{{notification.message}}</div>
<form name="userForm">
    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }" ng-show="!download">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" ng-model="name" placeholder="Name" required>
        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="text-danger">Enter a name.</p>
    </div>
    <div class="form-group" ng-show="!download">
        <label for="upload">Document input</label>
        <input type="file" id="upload" ng-file-model="document">
    </div>
    <div class="jumbotron" ng-show="download">
        <h3 for="name"><strong>Filename:</strong> {{document.name}}</h3>
        <a href="{{document.url}}" target="_blank">Download Document</a>
    </div>
    <button type="button" class="btn btn-info" ng-click="create()">Upload</button>
    <a  href="#/" class="btn btn-link" >Back to List!</a>
</form>
<hr>